server:
  port: 8086

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

service:
  user:
    url: http://localhost:8081
  flight:
    url: http://localhost:8082
  hotel:
    url: http://localhost:8083
  payment:
    url: http://localhost:8084
  notification:
    url: http://localhost:8085

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
